@import "../styles/mixins/mixins";

.button {
  @include center-all;
  background-color: transparent;
  border: 0;
  padding: 0;
  font: var(--font-nav-bold);
  color: var(--color-grey-dark);
  margin-bottom: var(--space-xxl);
}

.post {
  padding: 30px 30px 40px;
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow-default);

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--space-l);
  }

  &__title {
    font: var(--font-title);
    color: var(--color-black);
    margin: 0;
  }

  &__author {
    display: flex;
    flex-direction: column;
    color: var(--color-grey-dark);
    font: var(--font-text);
    padding: 0 0 10px;
  }
}
