.form {
  width: 1000px;
  padding: 50px;
}

label {
  margin-bottom: 0;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.validation {
  margin-top: 0;
}

