<form class="form" [formGroup]="form">
  <h2>Редактировать пост</h2>
  <div class="form__content">
    <div class="form__control">
      <tui-input formControlName="title">
        Введите заголовок
      </tui-input>
      <tui-field-error formControlName="title"></tui-field-error>
    </div>

    <div class="form__control">
      <tui-editor
        formControlName="text"
      >
        Введите текст поста
      </tui-editor>
      <tui-field-error formControlName="text"></tui-field-error>
    </div>
  </div>
  <button
    tuiButton
    type="button"
    [disabled]="form.invalid"
    (click)="submit()"
  >Сохранить
  </button>
</form>

