@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

.form {
  border-radius: var(--radius);
  background-color: var(--color-white);
  box-shadow: var(--shadow-default);
  color: var(--color-black);
}

.form__name {
  font: var(--font-title);
  color: var(--color-black);
  margin-bottom: var(--space-l);
}


