<form class="form" [formGroup]="form">
  <div class="message" *ngIf="message">{{message}}</div>
  <h2>Войти в админ панель</h2>
  <div class="form__control">
    <tui-input formControlName="email">Почта</tui-input>
    <tui-field-error formControlName="email"></tui-field-error>
  </div>
  <div class="form__control">
    <tui-input-password formControlName="password">Пароль</tui-input-password>
    <tui-field-error formControlName="password"></tui-field-error>
  </div>
  <div class="alert" *ngIf="error$ | async as error">{{error}}</div>
  <button
    tuiButton
    [disabled]="form.invalid || isFetching"
    (click)="submit()"
  >
    Отправить
  </button>
</form>
