.form {
  width: 700px;
  padding: 125px 100px;

  &__name {

  }

  &__control {
    margin-bottom: 20px;
  }

  .alert {
    font: var(--font-nav);
    margin: 20px 0;
    border-radius: var(--radius);
    background-color: var(--color-input-danger);
    padding: 10px 20px;
    color: var(--color-white);
  }
}

